html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #AFAFAF;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.no-pad {
    padding: 0 !important;
}

/* header */

.header-wrapped {
    display: flex;
    align-items: center;
    padding: 10px 5px;
}

.bg-black {
    background: #000 !important;
}

.main-logo-link {
    width: 10%;
}

.main-logo-link img {
    max-width: 100%;
} 

.icon {
    font-size: 1.5rem;
    color: #EFCC45 !important;
}

.nav-text {
    font-size: 1rem;
    color: #EFCC45 !important;
    margin-bottom: 0;
}

.form-card {
    position: relative;
    top: 10rem;
    background: #fff;
    padding: 20px 15px;
    margin-bottom: 15rem;
    box-shadow: 5px 10px 18px #888888;
}

.form-head-wrapped {
    text-align: center;
}

.form-head-wrapped h1 {
    font-weight: 600;
    text-transform: capitalize;
}

hr {
    border-top: 2px solid #000;
}

.form-head-wrapped h6, p {
    font-weight: 100;
}

.btn-public {
    width: 100%;
    background: #EFCC45;
    color: #000;
    text-align: center;
    border: none;
    -webkit-appearance: none;
    margin: 20px 0;
    padding: 10px 0;
    font-size: 1.5rem;
}

.input-color {
    background: #BABABA;
    color: #000 !important;

}

.cards-wrapped {
    display: flex;
    margin-top: 10rem;
}

.cards-wrapped a{
    text-decoration: none;
    color: #000;
}

.card {
    overflow: hidden;   
    width: auto;
    height: 25rem;
    margin: 0 10px;
    border: none;
    transition: all .5s;
}

.card:hover {
    box-shadow: 5px 10px 18px #888888;
}

.card-img-wrapped {
    width: 100%;
}

.card-img-top {
    width: 100%;
}

/* dashboard */
.dashboard-wrapped {
    margin: 10rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    width: 30%;
    background-color: azure;
    padding: 0 20px 20px 40px;
}

.home {
    width: 60%;
    background-color: #EFCC45;
    margin: 0 2rem;
    text-align: left;
}