{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="container form-card">
        <div class="row">
            <div class="col">
                <div class="form-head-wrapped">
                    <h1>Hire out our event room</h1>
                    <hr>
                    <h6>Fill out this form and we will get back to you as soon as possible.</h6>
                    <p>Room hire is from £30</p>
                </div>
                <!-- {% if request.user.is_authenticated %} -->
                {% if submitted %}
                    <h1>It was done! well done...ss</h1>
                {% else %}

                <form method="POST" action="">
                    {% csrf_token %}
                
                    {{ form.as_p }}
                    <!-- include whether they want the room to be dressed  -->
                    <!-- include whether they are a member  -->
                    <!-- include whether they want to use the kitchen are they having food? -->
                    <!-- include whether they are having a entertainer or DJ? -->
                    
                    <input type="submit" value="Send Request" class="btn-public">
                </form>
                                

                {% endif %}
                <!-- {% else %} -->
                <div class="sign-up-wrapped">
                    <h3>To place a booking request please <a href="{% url 'account_login' %}">sign in</a></h3>
                    <p>If you have not created an account yet, then please
                        <a href="{% url 'account_signup' %}">sign up</a> first.</p>
                </div>
                <!-- {% endif %} -->
            </div>
        </div>
    </div>
    <br>
    <br>
{% endblock%}
