{% extends "account/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="dashboard-wrapped">
    <div class="row">
        <div class="col menu">
            {% if request.user.is_authenticated %}
            <div class="menu-btns-wrapped">
                <h5>Welcome {{ user }}</h5>
                <hr>
                {% if request.user.is_staff %} 
                <a href="{% url 'dashboard' %}"><i class="fa-solid fa-house"></i>Home</a>
                <a href="{% url 'calendar' %}"><i class="fa-regular fa-calendar-days"></i>Calendar</a>
                {% endif %}
                
                {% if request.user.is_superuser %}
                <a href="{% url 'event-request' %}"><i class="fa-sharp fa-solid fa-calendar-plus"></i>Review Events</a>
                <a href="{% url 'confirm' %}"><i class="fa-solid fa-calendar-check"></i>Confirmed Events</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="event-request-wrapped">
        <div class="row">
            <div class="col events-list">  
                <h1 class="events-header">WIll be the CALENDAR page</h1>

{% endblock%}