{% extends "base.html" %}
{% load static %}

{% block content%}
<div class="container rel">
    <div class="row">
        <div class="col no-pad-left">
        <!-- logo -->
        <a href="https://www.littlebitdifferentevents.co.uk/" target="_blank">
            <div class="logo-circle">
                <img class="page-logo" src="https://res.cloudinary.com/dmegr1g6f/image/upload/v1667299335/lbd-test_4x_s9oyeo.png" alt="Little Bit Different Logo">
            </div>
        </a>
        </div>
    
        <div class="col no-pad-right">
        <!-- description -->
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis, nisl eget aliquet ornare, libero tellus egestas velit, non maximus elit quam id arcu. Praesent id imperdiet mauris, eu imperdiet diam. Pellentesque quis sodales nulla. Nullam ut nibh vitae felis porta tincidunt. Mauris a erat ac neque fermentum sollicitudin. In semper magna a velit suscipit mattis. Curabitur porttitor placerat finibus. Vestibulum volutpat purus dolor, ut suscipit felis euismod in. Etiam vitae nisl tempor, tempus lectus tincidunt, ullamcorper erat. Pellentesque varius ligula odio, non faucibus orci rhoncus vitae.
            <br>
            <br>
            Suspendisse vel molestie ligula, in pulvinar tortor. Nullam molestie odio eu eros commodo sagittis. Nunc orci arcu, tincidunt et pretium lacinia, rutrum vitae justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In est urna, sagittis et metus a, aliquet sollicitudin lacus. Vivamus tristique nisi id dui pellentesque bibendum. Nulla pharetra euismod diam, vitae imperdiet ipsum congue ultrices. Aenean vel nisi non urna posuere molestie a ut mauris. Mauris vestibulum ante quis lectus volutpat, non dictum enim varius. Aliquam scelerisque vulputate ante non pulvinar.
        </p>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
      <div class="col">
        <h4>Follow us on Social Media!</h4>
      </div>
      <div class="col">
        
      </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="social-wrappers">
                <i class="fa-brands fa-instagram"></i>
                <a href="https://www.instagram.com/littlebitdifferent0/" target="_blank">@littlebitdifferent0</a>
            </div>
        </div>
        <div class="col">
            <div class="social-wrappers">
                <i class="fa-brands fa-facebook-f"></i>
                <a href="https://www.facebook.com/Littlebitdifferentevents" target="_blank">@Littlebitdifferentevents</a>
            </div>
        </div>
        <div class="col">
            <div class="social-wrappers">
                <i class="fa-solid fa-phone"></i>
                <a href="tel:07394885083" target="_blank">07394885083</a>
            </div>
        </div>
        <div class="col">
            <div class="social-wrappers">
                <i class="fa-solid fa-envelope"></i>
                <a href="mailto:littlebitdifferentevents@gmail.com" target="_blank">littlebitdifferentevents@gmail.com</a>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<!-- gallery -->
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
      
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
        </div>
      
        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
      
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
        </div>
      
        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
      
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
        </div>
    </div>
      <!-- Gallery -->
</div>
{% endblock %}