{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="cards-wrapped">
    <a href="{% url 'book' %}">
        <div class="card">
            <div class="card-img-wrapped">
                <img class="card-img-top" src="https://res.cloudinary.com/dmegr1g6f/image/upload/v1666890836/Artboard_2_4x_itjmcv.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">Hire Our Room</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </a>
    <a href="">
    <div class="card">
        <div class="card-img-wrapped">
            <img class="card-img-top" src="https://res.cloudinary.com/dmegr1g6f/image/upload/v1666890844/Artboard_3_4x_ljyasv.png" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Our Upcoming Events</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    </a>
    <a href="">
    <div class="card">
        <div class="card-img-wrapped">
            <img class="card-img-top" src="https://res.cloudinary.com/dmegr1g6f/image/upload/v1666890835/Artboard_1_4x_pcmfrk.png" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Information</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
    </div>
    </a>
  </div>
  
{% endblock%}
