{% extends "base.html" %}
{% load static %}

{% block content%}
<div class="cards-wrapped">
    <a href="{% url 'book' %}">
        <div class="card">
            <div class="card-img-wrapped">
                <img class="card-img-top" src="https://res.cloudinary.com/dmegr1g6f/image/upload/v1666890835/Artboard_1_4x_pcmfrk.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">Contact Information</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </a>
    <a href="{% url 'upcomingevents' %}">
    <div class="card">
        <div class="card-img-wrapped">
            <img class="card-img-top" src="https://res.cloudinary.com/dmegr1g6f/image/upload/v1666976483/blown_4x_h9xgvx.png" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Our in-house balloon stylist</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    </a>
    <a href="{% url 'info' %}">
    <div class="card">
        <div class="card-img-wrapped">
            <img class="card-img-top" src="https://res.cloudinary.com/dmegr1g6f/image/upload/v1666974855/lbd_4x_dehg1j.png" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Our in-house caterer</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
    </div>
    </a>
  </div>
{% endblock%}