{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container form-card">
    <div class="row">
        <div class="col">
            <div class="form-head-wrapped">
                <h4>Thank you, your booking has been sent successfuly!</h4>
                <br>
                <h6>A member of the team will be in touch shortly.</h6>
                <p><a href="{% url 'home' %}">Go Home</a></p>
            </div>
        </div>
    </div>
</div>
<br>
<br>

{% endblock %}

