{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="dashboard-wrapped">
    <div class="row">
        <div class="col menu">
        {% if request.user.is_authenticated %}
            <div class="menu-btns-wrapped">
                <h5>Welcome {{ user }}</h5>
                <hr>
                {% if request.user.is_staff %} 
                <a href="{% url 'dashboard' %}"><i class="fa-solid fa-house"></i>Home</a>
                <a href="{% url 'calendar' %}"><i class="fa-regular fa-calendar-days"></i>Calendar</a>
                {% endif %}
                
                {% if request.user.is_superuser %}
                <a href="{% url 'event-request' %}"><i class="fa-sharp fa-solid fa-calendar-plus"></i>Review Events</a>
                <a href="{% url 'confirm' %}"><i class="fa-solid fa-calendar-check"></i>Confirmed Events</a>
                <a href="{% url 'manage-users' %}"><i class="fa-solid fa-user"></i>Manage Users</a>
                {% endif %}
            </div>

            <div class="copyright">
                <p>&#169;AVANDOR 2022</p>
            </div>
        </div>
    </div>
    <div class="event-request-wrapped">
        <div class="row">
            <div class="col events-list">  
                <h1 class="events-header">Update Event</h1>
                <hr>
                    
                    <div class="card event-card">
                        <div class="card-header card-h-f">
                            <h1>Customer Request</h1>

                        </div>
                        <div class="card-body">
                            
                           {{ roomhire }}
                           {{ roomhire.full_name }}
                            
                        </div>
                        <div class="card-footer card-h-f row">
                            <a href="" class="btn btn-secondary">test</a>
                            Booking submitted on: {{ roomhire.created_on }}
                        </div>
                      </div>
                    
            </div>
        </div>
        {% endif %}
    </div>
</div>




{% endblock %}